@font-face {
    font-family: 'Noto Sans';
    src: url('../assets/fonts/NotoSans.eot');
    src: url('../assets/fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NotoSans.woff2') format('woff2'),
        url('../assets/fonts/NotoSans.woff') format('woff'),
        url('../assets/fonts/NotoSans.ttf') format('truetype'),
        url('..assets/fonts/NotoSans.svg#NotoSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background-image: url("../assets/img/back.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    font-family: "Noto Sans";
    font-size: 7vw;
    text-decoration: underline;
    margin-bottom: 2em;
}

.paragraph {
    margin: 5vw;
    text-align: justify;
    font-family: "Noto Sans";
    font-size: 3vw;
}
